﻿@model SWS.WebApp.Areas.Admin.Models.LocalizationModels.CreateLocalizationModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("Create", "Localization", new { area = "admin" }, 
    FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <span>Название (ключ)</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguageKey)
                @Html.ValidationMessageFor(model => model.LanguageKey)
            </div>
        </div>

        <div class="form-group">
            <span>Полное название</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>              

        @(Html.Kendo().Upload()
            .Name("attachment")
        )

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}
