﻿@model List<SWS.WebApp.Areas.Admin.Models.LocalizationModels.LocalizationModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}



@(Html.Kendo().Grid(Model)
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.LanguageKey).Title("Ключ");
          columns.Bound(p => p.Description).Title("Название");
          columns.Template(x => { }).ClientTemplate("<a href='" + Url.Action("Edit", "Localization", new { area = "admin" }) + "/#=Id#'> Изменить</a> &nbsp; &nbsp; <a href='" + Url.Action("Delete", "Localization", new { area = "admin" }) + "/#=Id#'> Удалить</a>").Width(170);
          columns.Command(commands =>
          {
              commands.Custom("AddNewItem").HtmlAttributes(new { onclick = "ShowCreateWinow()" });
              commands.Edit().Text(" ").CancelText(" ").UpdateText(" "); // The "edit" command will edit and update data items
              commands.Destroy().Text(" "); // The "destroy" command removes data items
          }).Title("Редактирование").Width(160);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
      }) // The "create" command adds new data items
      .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                    .Sortable()
        .Scrollable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
)




@(Html.Kendo().Window().Name("Details")
    .Title("Customer Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(600)
)

<script>
    function ShowCreateWinow() {
        var window = $("#Details").data("kendoWindow");
        window.refresh({
            url: '/Admin/Localization/Create',

        });
        window.open().center();
    }


    function grid_error(e) {
        if (e.errors) {
            var message = "Ошибка!:\n";
            // Create a message containing all errors.
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>