﻿@{
    ViewBag.Title = "Список";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@model SWS.WebApp.Areas.Admin.Models.BlockModels.CreateBlockModel
@using SWS.WebApp.Areas.Admin.Models.LocalizationModels;

@if (ViewBag.Languages == null)
{
    <strong>У вас не создано ни одного языка интерфейса.</strong>
}
else
{
    using (Html.BeginForm())
    {
        <div style="padding:10px; border: solid 3px #e1dada; border-radius: 7px;">
            <h3 style="float:left;">Создание новой записи</h3>
            <input type="submit" value="Сохранить" style="float:right;" class="k-button-decrease" />
            <div id="tabstrip" style="clear:both;">
                <ul>
                    <li class="k-state-active">Общие</li>
                    @foreach (var item in Model.LocalizedBlockValues)
                    {
                        <li>
                            @item.LanguageKey
                        </li>
                    }
                </ul>
                <div>
                    <div class="form-group">
                        <span>Уникальный ключ</span>
                        <div class="col-md-10">
                            @Html.EditorFor(x => x.AltKey)
                            @Html.ValidationMessageFor(model => model.AltKey)
                        </div>
                    </div>
                </div>
                @for (int i = 0; i < Model.LocalizedBlockValues.Count; i++)
                {
                    <div>
                        @Html.Action("LocalizationBlockEditor", "", new { @index = i, model = Model.LocalizedBlockValues[i] })
                    </div>
                }
            </div>
        </div>
    }
    <script>
        $(function () {
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
        });

    </script>
}