﻿@model SWS.WebApp.Areas.Admin.Models.BlockModels.EditBlockModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <span>Краткое описание</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <span>Алтернативный ключ</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AltKey)
                @Html.ValidationMessageFor(model => model.AltKey)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
