﻿@model List<SWS.WebApp.Areas.Admin.Models.BlockModels.BlockModel>

@{
    ViewBag.Title = "Список";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}


@(Html.Kendo().Grid(Model)
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.AltKey).Title("Ключ").Width(150);
          columns.Bound(p => p.Id).Template(@<text>
            <a href="@Url.Action("Edit", "Block", new { area = "admin", id = @item.Id })"> Изменить</a>
            &nbsp;|&nbsp; <a href="@Url.Action("Delete", "Block", new { area = "admin", id = @item.Id })"> Удалить</a>
        </text>).Title("Редактирование").Width(170);
      })
      .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                    .Sortable()
        .Scrollable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
            .ToClientTemplate()
)
