﻿@model SWS.WebApp.Areas.Admin.Models.BlockModels.LocalizedBlockValueModel
@Html.HiddenFor(model => model.Id)

<div class="form-horizontal">
    @Html.ValidationSummary(true)

    <input type="hidden" id="LocalizedBlockValues[@ViewBag.Index].Id" name="LocalizedBlockValues[@ViewBag.Index].Id" value="@Model.Id">
    <input type="hidden" id="LocalizedBlockValues[@ViewBag.Index].LanguageId" name="LocalizedBlockValues[@ViewBag.Index].LanguageId" value="@Model.LanguageId">

    <div class="form-group">
        <span>Краткое описание</span>
        <div class="col-md-10">
            <input class="k-textbox" type="text" name="LocalizedBlockValues[@ViewBag.Index].Title" id="LocalizedBlockValues[@ViewBag.Index].Title" value="@Model.Title" />
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
</div>
