﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.material.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <style>
        html {
            /*background: url(/Content/sws/bg-server.jpg) fixed top center no-repeat;
            background-size: cover;*/
        }
    </style>
</head>
<body>
    <header style="">
        <div class="content-wrapper">
            <div class="float-left" id="logo">
                <a href=""><img src="~/Content/SWS/StableSolution.jpg" /></a>
            </div>
            <div style="float:left; margin-left: 70px; margin-top: 20px;">
                <img src="~/Content/SWS/phones.png" />
            </div>
            <div>
                <div style="float:right; padding-right: 50px; padding-top: 18px;">
                    <span>&nbsp;Логин</span>&nbsp;&nbsp;<input type="text" name="userName" id="userName" style="width: 180px; font-size: 13px; padding:3px;" /><br />
                    <span>Пароль</span>&nbsp;<input type="text" name="userName" id="userName" style="width: 180px; font-size: 13px; padding: 3px;" /> <br />
                    <a href="#" style="float: right; color: #0076bf;">Регистрация</a>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        <div style="padding:10px;">
            <div style="background: #00a9e5; height: 30px; padding-top: 5px; border-radius: 5px;">
                <ul id="menu">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Наши решения", "About", "Home")</li>
                    <li>@Html.ActionLink("Портфолио", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
        @RenderSection("featured", required: false)
        <section class="content-wrapper clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My Telerik MVC Application</p>
            </div>
        </div>
    </footer>
</body>
</html>
