﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Admin/Content/AdminSite.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/kendo/2015.1.408//kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/2015.1.408/kendo.default.min.css" />

    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body style="padding:20px;">
    <div>
        @(Html.Kendo().ToolBar()
        .Name("ToolBar")
        .Items(items =>
        {
            var mainLink = @Url.Action("Index", "Dashboard", new { area = "admin" });
            var pageTypeLink = @Url.Action("Index", "PageType", new { area = "admin" });
            var blockLink = @Url.Action("Index", "Block", new { area = "admin" });
            var navigationLink = @Url.Action("Index", "Navigation", new { area = "admin" });            
            var localizationLink = @Url.Action("Index", "Localization", new { area = "admin" });

            items.Add().Type(CommandType.Button).Text("Главная").Url(mainLink);
            items.Add().Type(CommandType.SplitButton).Text("Текстовие разделы").MenuButtons(menuButtons =>
            {
                menuButtons.Add().Text("Типы страниц").Url(pageTypeLink).Icon("insert-n");
                menuButtons.Add().Text("Страници").Icon("insert-m");
                menuButtons.Add().Text("Блоки").Url(blockLink).Icon("insert-s");
            });
            items.Add().Type(CommandType.Button).Text("Навигация").Url(navigationLink);
            items.Add().Type(CommandType.Button).Text("Локализация").Url(localizationLink);
        }))

        <script>
            $(document).ready(function () {
                $("#dropdown").kendoDropDownList({
                    optionLabel: "Paragraph",
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [
                        { text: "Heading 1", value: 1 },
                        { text: "Heading 2", value: 2 },
                        { text: "Heading 3", value: 3 },
                        { text: "Title", value: 4 },
                        { text: "Subtitle", value: 5 },
                    ]
                });
            });
        </script>
    </div>
    <div style="margin:20px;">
        @RenderBody()
    </div>
</body>
</html>
