﻿@model List<SWS.WebApp.Areas.Admin.Models.PageTypeModels.PageTypeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@(Html.Kendo().Grid(Model)
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.Name).Width(300).Title("Тип");
          columns.Bound(p => p.ShortDescription).Title("Краткое описание");
          columns.Command(commands =>
          {
              commands.Edit().Text(" ").CancelText(" ").UpdateText(" "); // The "edit" command will edit and update data items
              commands.Destroy().Text(" "); // The "destroy" command removes data items
          }).Title("Редактирование").Width(160);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
      }) // The "create" command adds new data items
      .Editable(editable => editable.Mode(GridEditMode.InLine)) // Use inline editing mode
      .DataSource(dataSource =>
          dataSource.Ajax()
              .Events(events => events.Error("grid_error")) // Handle the "error" event
            .Model(model =>
            {
                model.Id(product => product.Id); // Specify the property which is the unique identifier of the model
                model.Field(product => product.Id).Editable(false); // Make the ProductID property not editable
            })
                .Create(update => update.Action("Create", "PageType", new { area = "admin" }))
                .Update(update => update.Action("Edit", "PageType", new { area = "admin" }))
                .Destroy(update => update.Action("Delete", "PageType", new { area = "admin" }))
      )
          .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                    .Sortable()
        .Scrollable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
)

<script>
    function grid_error(e) {
        if (e.errors) {
            var message = "Ошибка!:\n";
            // Create a message containing all errors.
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>